<div class="container">
  <div class="mt-5 mb-5 row">
    <div class="col-12 row">
      <input type="text" placeholder="Enter name" class="form-control col-5" [(ngModel)]="inputValue">
      <button class="ml-1 btn btn-primary" (click)="addCard(inputValue)">Add card</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-ml-6 col-lg-3" *ngFor="let item of cards;">
      <div class="card col-12" [ngClass]="{'card-red': !item['status']}">
        <div class="card-img-placeholder"></div>
        <div class="card-body">
          <h5 class="card-title">{{item['id']}}</h5>
          <p class="card-text">{{item['name']}}</p>
          <button href="#" class="btn btn-primary" (click)="deleteCard(item)">Delete card</button>
        </div>
      </div>
    </div>
  </div>
</div>

